@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@font-face {
	font-family: 'Google Sans';
	src: local('Google Sans Medium'), local('GoogleSans-Medium'),
		url('/fonts/GoogleSans-Medium.woff2') format('woff2'),
		url('/fonts/GoogleSans-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Google Sans';
	src: local('Google Sans Bold'), local('GoogleSans-Bold'),
		url('/fonts/GoogleSans-Bold.woff2') format('woff2'),
		url('/fonts/GoogleSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
	background-color: #1a202c;
	color: #fff;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;

	@media (min-width: 768px) {
		font-size: 0.875rem;
	}

	@media (min-width: 1024px) {
		font-size: 0.9375rem;
	}

	@media (min-width: 1536px) {
		font-size: 1.125rem;
	}

	@media (min-width: 1800px) {
		font-size: 1.25rem;
	}

	@media (min-width: 2000px) {
		font-size: 1.375rem;
	}
}
