.header {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 2rem;
	padding: 1rem 3rem;

	@media screen and (max-width: 768px) {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(2, 60px);
		grid-column-gap: 0.5rem;
		grid-row-gap: 0.5rem;
	}

	a {
		font-size: 2rem;
		line-height: 32px;
		color: rgba(255, 255, 255, 0.75);
		transition: 0.4s ease;

		&:hover {
			color: #fff;
			opacity: 1;
			cursor: pointer;
		}

		@media screen and (max-width: 768px) {
			padding: 0.5rem;
		}
	}

	a.active-link {
		color: #fff;
		text-decoration: underline;
		font-weight: 700;
	}
}

.logo {
	grid-area: 1 / 1 / 2 / 2;
	display: flex;
	flex-direction: row;
	align-content: center;
	margin-top: 0.5rem;

	@media screen and (max-width: 768px) {
		grid-area: 1 / 1 / 2 / 3;
	}
}

.navigation {
	grid-area: 1 / 2 / 2 / 4;
	display: flex;
	justify-content: space-around;

	@media screen and (max-width: 768px) {
		grid-area: 2 / 2 / 3 / 5;
	}
}

.socials {
	grid-area: 1 / 5 / 2 / 6;
	display: flex;
	justify-content: space-around;
	align-items: center;

	@media screen and (max-width: 768px) {
		align-items: center;
		grid-area: 1 / 4 / 2 / 6;
	}
}

.socials-icon {
	transition: 0.3s ease;
	color: white;
	border-radius: 50px;
	font-size: 3rem;
	padding: 8px;
	&:hover {
		background-color: #212d45;
		transform: scale(1.2);
		cursor: pointer;
	}
}
